.camera-modal {
  .modal-content {
    border: none;
    border-radius: 20px;

    .modal-body {
      padding: 20px;

      img {
        width: 100%;
        border-radius: 13px;
      }
    }
  }
}

.exam-main {
  height: 100vh;
  display: flex;
  font-family: "Baloo Bhai 2", cursive;

  & > .left {
    height: 100%;
    width: 110px;
    padding: 15px;
  }

  .camera-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    display: none;
    justify-content: center;
    align-items: center;

    .camera-window {
      width: 600px;
      height: 450px;
      padding: 15px 25px;

      .top {
        display: flex;
        justify-content: space-between;

        h3 {
          font-size: 1.5rem;
        }

        button.close {
          transform: scale(0.8);
          padding: 4px 11px 0 11px;
          background-color: rgb(216, 216, 216);

          img {
            height: 14px;
          }

          &:hover {
            transform: scale(1);
          }
        }
      }

      & > img {
        margin-top: 20px;
        width: 100%;
        height: calc(100% - 70px);
        object-fit: cover;
        object-position: top;
        border-radius: 7px;
      }
    }
  }

  & > .right {
    height: 100%;
    width: 100%;
    padding: 20px;
    position: relative;
    overflow: hidden;

    .chat-window {
      position: absolute;
      bottom: -380px;
      right: 160px;
      z-index: 1;
      overflow: hidden;
      background-color: lightcoral;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

      height: 380px;
      width: 320px;

      border-radius: 15px 15px 0 0;
      transition-duration: 600ms;

      &.open {
        bottom: 0;
      }

      .title-bar {
        width: 100%;
        padding: 9px 20px;
        background-color: $primary-color;

        display: flex;
        align-items: center;
        justify-content: space-between;

        color: #fff;
        font-family: $outfit;
        font-weight: 500;
        font-size: 1.1rem;

        img {
          height: 13px;
          cursor: pointer;
        }
      }

      .messages {
        height: calc(100% - 90px);
        width: 100%;
        overflow-y: auto;

        background-color: #fff;

        .message-wrapper {
          margin: 15px 10px;

          p {
            width: fit-content;
            background-color: rgb(236, 236, 236);
            border-radius: 10px;
            padding: 7px 15px;
            margin: 40px;
          }

          &.right {
            display: flex;
            justify-content: flex-end;

            p {
              background-color: $primary-color;
              color: #fff;
            }
          }
        }
      }

      .text-box {
        height: 45px;
        width: 100%;
        border-top: 1px solid rgb(216, 216, 216);

        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          padding: 0 15px;
        }
      }
    }

    .top-bar {
      width: 100%;
      background-color: #f3f3f3;
      display: flex !important;
      justify-content: space-between !important;
      padding: 20px 25px !important;
      border-radius: 10px !important;
      border-radius: 10px;

      .exam-info,
      .time-left {
        display: flex;
        align-items: center;

        img {
          height: 30px;
        }
      }

      & > h3 {
        margin-top: 5px;
        font-size: 1.4rem;
      }

      .exam-info {
        margin-right: 60px;
        padding-top: 3px;
        display: flex;
        align-items: center;

        h3 {
          font-size: 1.5rem;
          margin-left: 10px;
        }
      }

      .time-left {
        h3 {
          font-size: 1.3rem;
        }
      }
    }

    .bottom-container {
      height: calc(100% - 92px);
      width: 100%;
      margin-top: 20px;
      display: flex;

      .left {
        height: 100%;
        width: 75%;
        margin-right: 25px;

        .meeting-window {
          height: 100%;
          width: 100%;
          padding: 25px;
          position: relative;
          // padding: 25px !important;
          // display: flex;
          // justify-content: center;

          video {
            width: 100%;
            min-height: 100% !important;
            border-radius: 12px;
          }

          & > img {
            height: 100%;
            width: fit-content;
            border-radius: 12px;
            // margin: 0 120px;
          }

          .controls-trigger {
            position: absolute;
            overflow: hidden;
            bottom: 20px;
            left: 0;
            height: 80px;
            width: 95.2%;
            margin-left: 25px;
            // background-color: rgba(255, 0, 0, 0.3);

            .controls-box {
              position: absolute;
              top: 0;
              // top: 100%;
              left: 50%;
              transform: translate(-50%, 0);

              transition: all 600ms;
              height: 60px;
              background-color: rgba(0, 0, 0, 0.3);
              backdrop-filter: blur(10px);
              border-radius: 10px;

              display: flex;
              padding: 7px;

              .control-wrapper {
                height: 100%;
                width: 50px;
                margin-right: 15px;
                border-radius: 7px;
                transition-duration: 400ms;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  max-height: 27px;
                  opacity: 0.8;
                }

                &:last-child {
                  margin: 0;
                }

                &:hover {
                  background-color: rgba(255, 255, 255, 0.2);
                  cursor: pointer;
                }
              }
            }

            &:hover {
              .controls-box {
                top: 0px;
              }
            }
          }
        }
      }

      .right {
        width: 25%;
        height: 100%;
        position: relative;
        font-family: $outfit;

        h3 {
          font-size: 1.4rem;
        }

        .student-list::-webkit-scrollbar {
          display: none;
        }

        .student-list {
          height: 100%;
          width: 100%;
          overflow-y: scroll;
          margin-top: 20px;
          // background-color: lightcoral;

          .student-wrapper {
            display: flex;
            align-items: center;
            padding: 9px 0 8px 10px;
            border-bottom: 1px solid rgba(161, 161, 161, 0.1);

            img {
              height: 30px;
              margin-right: 10px;
              border-radius: 7px;
            }
          }
        }

        .chat {
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-weight: 600;

          i {
            color: $primary-color;
            font-size: 27px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
